{% extends 'Alumni/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <table border="1" align="center">
        <tr>
            <td>Old Password:</td>
            <td><input type="password" name="txt_oldpassword" id="em"></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input type="password" name="txt_newpassword" id="pa"></td>
        </tr>
        <tr>
            <td>Re-enter Password:</td>
            <td><input type="password" name="txt_retypepassword" id="pa"></td>
        </tr>
        <tr align="center">
            <td><input type="submit" value="Change"></td>
        </tr>
    </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Alumni:changepassword' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}