{% extends 'Student/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Internship</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <tr>
            <td>#</td>
            <td>Internship Title</td>
            <td>Internship Description</td>
            <td>Company</td>
            <td>Email</td>
            <td>Address</td>
            <td>Action</td>
        </tr>
        {% for i in internship %}        
        <tr>            
            <td>{{forloop.counter}}</td>
            <td>{{i.internship_title}}</td>            
            <td>{{i.internship_description}}</td>            
            <td>{{i.company.company_name}}</td>            
            <td>{{i.company.company_email}}</td>            
            <td>{{i.company.company_address}}</td>            
            <td>                
                <a href="{% url 'Student:requestinternship' i.id %}">Apply</a>  
            </td>                
        </tr>
        {% endfor %}                
    </table>

    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Student:Viewinternship' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}