{% extends 'Company/Header.html' %}
{% block content %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    {% csrf_token %}
    <table border="=1">
        <tr>
            <td colspan="2" align="center"><img src="{{ company.company_photo.url }}" alt="company Photo"
                    style="width: 100px; height: auto;"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{company.company_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{company.company_email}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{company.company_contact}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{company.company_address}}</td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="{% url 'Company:EditProfile' %}">Edit Profile</a>
                <a href="{% url 'Company:ChangePassword' %}">Change Password</a>
            </td>
        </tr>
    </table>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Company:profile' %}"
    </script>
    {% endif %}
</body>

</html>
{% endblock content %}