<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Old password</td>
                <td><input type="password" name="txt_oldpassword" id="em"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txt_newpassword" id="pa"></td>
            </tr>
            <tr>
                <td>Re-type Password</td>
                <td><input type="password" name="txt_retypepassword" id="pa"></td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="changepassword"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="cancel"></td>
            </tr>
           
        </table>
    </form>

   
</body>
</html>