<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome User
    <a href="{% url 'User:profile' %}">Myprofile</a>
    <a href="{% url 'User:Viewjobpost' %}">View Job Post</a>
    <a href="{% url 'User:Viewinternship' %}">View Internship</a>
    <a href="{% url 'User:MyRequest' %}">My Request</a>
    <a href="{% url 'User:ViewAlumini' %}">View Alumini</a>
    <a href="{% url 'User:My_friends' %}">My Friends</a>
</body>
</html>