<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        {% for i in friend %}        
        <tr>            
            <td>{{forloop.counter}}</td>
            <td>{{i.alumini.alumni_name}}</td>
            <td><a href="{% url 'User:chatpage' i.alumini.id %}">Chat</a></td>
        </tr>
        {% endfor %}                
    </table>
</body>
</html>